#raw-box, #jpeg-box{
    height: 24.2em;
    border: solid black 0.2em;
}

#raw-box{
    background-color: aqua;
    margin-right: .5em;
}
#jpeg-box{
    background-color: greenyellow;
    margin-left: .5em;
}

#controls{
    background-color: aquamarine;
    height: 15em;
}

#raw, #jpeg{
    /*width: 100%;*/
    height: 23.8em;
    position: absolute;
    z-index: 1;
    /*border: solid black 0.2em;*/
}
/*
#raw-box h1, #jpeg-box h1{
    position: absolute;
    z-index: -1;
}
*/
.btn {
    display: inline !important;
    background-color: DodgerBlue !important;
    border: solid black 0.1em !important;
    color: white !important;
    font-weight: bold !important;
    padding: 12px 30px !important;
    margin: 1em;
    cursor: pointer;
    font-size: 1.5em !important;
}

.btn:hover {
    background-color: RoyalBlue !important;
}

#controls h3{
    display: inline !important;
}